/*Diseño comun de todas las paginas web*/
/*-------------------------------------------*/


/*Diseño de la pagina de Contacto*/
/*-------------------------------------------*/


/*Diseño de la pagina de Equipo*/
/*-------------------------------------------*/


/*Diseño de la pagina de Index*/
/*-------------------------------------------*/


/*Diseño de la pagina de Sobre*/
.imagen-reducida {
  width: 60%;    
  height: auto;   
  display: block;
  margin: 0 auto; 
}
/*-------------------------------------------*/



/*Diseño de la pagina de servicios*/

/*-------------------------------------------*/